<!DOCTYPE html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
<script src="randomjs.js"></script>
<title>Personal Website</title>
</head>
<meta charset= "UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type= "text/css" href="/static/personal-css.css">
<link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css?family=Rubik">
<link rel="stylesheet" type="text/css"
          href="http://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600,700,800,900">
          <link rel="stylesheet" type="text/css"
          href="http://fonts.googleapis.com/css?family=Sansita+One:100,200,300,400,500,600,700,800,900">
<link rel="stylesheet" type="text/css"
          href="http://fonts.googleapis.com/css?family=Rubik:100,200,300,400,500,600,700,800,900">
<style>

</style>
<body bgcolor="#FFFFFF">
 <nav>
  
   
    <ul id = "nav-row" class="left hide-on-med-and-down">
      <li><a href = "home">HOME</a></li>
      <li><a href = "#">ABOUT</a></li>
      <li><a href = "#">PORTFOLIO</a></li>
      <li><a href = "#">CONTACT</a></li>
     </ul>
   
    </nav>
<div class="div-home" bgcolor="#F8F9F3">

    <header class="bgimg" id="home">
  
  <div class="w3-display-middle w3-center">
    <span class="w3-text-white" style="font-size: 40px;font-weight: 100;font-family: 'Rubik', serif; ">Hello! I'm Alpha</span>
  </div>
 
</header>
     </div>
    
<!--   
<div class="w3-top">
  <div class="w3-row w3-padding w3-black">
    
    <div class="w3-col s1">
      <a href="#about" class="w3-button w3-block w3-black">PORTFOLIO</a>
    </div>
    <div class="w3-col s2">
      <a href="#menu" class="w3-button w3-block w3-black">ABOUT</a>
    </div>
    <div class="w3-col s3">
      <a href="#where" class="w3-button w3-block w3-black">CONTACT</a>
    </div>
    <div class="w3-col s4">
      <a href="#" class="w3-button w3-block w3-black">HOME</a>
    </div>
  </div>
</div>
 -->



<!-- 
<div class="w3-sand w3-grayscale w3-large">

<div class="w3-container" id="about">
  <div class="w3-content" style="max-width:700px">
    <h5 class="w3-center w3-padding-64"><span class="w3-tag w3-wide">ABOUT ME</span></h5>
    <p>Heya are you updating? Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at ante. Mauris eleifend, quam a vulputate dictum, massa quam dapibus leo, eget vulputate orci purus ut lorem. In fringilla mi in ligula. Pellentesque aliquam quam vel dolor. Nunc adipiscing. Sed quam odio, tempus ac, aliquam molestie, varius ac, tellus.</p>

  </div>
</div> -->


</div>
<div class = "page2">
  <h2 id = "randomsweg"> SWEG. </h2>
  <img src = "/static/pusheen2.png" alt = "Pusheen2 should be here" style = "width:500px;height:500px; float:right">
</div>

</body>
</html>

